:root{
    color-scheme: light dark;
    --color-light: #f9f9f9;
    --color-dark: #242424;
}

body{
    color: light-dark(var(--color-dark), var(--color-light));
    background-color: light-dark(var(--color-light), var(--color-dark));
   
}

input, label{
    display: block;
    margin-bottom: 10px;
}