:root{
    color-scheme: light dark;
    --color-light: #f9f9f9;
    --color-dark: #242424;
}

body{
    color: light-dark(var(--color-dark), var(--color-light));
    background-color: light-dark(var(--color-light), var(--color-dark));
   
}

input, label, select{
    display: block;
    margin-bottom: 10px;
}
button{
    padding: 5px;
    background-color: light-dark(#242424, #f9f9f9);
    color: light-dark(#f9f9f9, #242424);
    margin-bottom: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

th, td{
    border: 1px solid gray;
   padding: 5px 5px 0px 5px;
   
}



